.label-div {
    text-align: right;
}

.label-div, .input-div {
    margin: 10px;
}

.address-list {
    padding: 10px;
    background-color: #ccc;
}

.btn-div {
    margin: 10px;
    text-align: right;
}