form {
    margin-top: 20px;
}

.message-div {
    margin-top: 20px;
}

.label-div {
    text-align: right;
    margin-bottom: 15px;
}

.error-field {
    border-color: red;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

.button-div {
    text-align: right;
}